name: Auto Deploy Node Backend

on:
  push:
    branches:
      - development
      - staging
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Deploy to VPS via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            if [ "${{ github.ref }}" == "refs/heads/development" ]; then
              cd ${{ secrets.DEV_PATH }}
              git pull
              npm install --production
              npx sequelize-cli db:migrate --config config/config.js
              pm2 restart myskin-development
            fi

            if [ "${{ github.ref }}" == "refs/heads/staging" ]; then
              cd ${{ secrets.STAGING_PATH }}
              git pull
              npm install --production
              npx sequelize-cli db:migrate --config config/config.js
              pm2 restart myskin-staging
            fi

            if [ "${{ github.ref }}" == "refs/heads/main" ]; then
              cd ${{ secrets.PROD_PATH }}
              git pull
              npm install --production
              npx sequelize-cli db:migrate --config config/config.js
              pm2 restart myskin-production
            fi
