name: Test SSH Key

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            if [ "${{ github.ref }}" == "refs/heads/development" ]; then
              cd ${{ secrets.DEV_PATH }}
              git pull
              npm install --production
              pm2 restart myskin-development
            fi

            if [ "${{ github.ref }}" == "refs/heads/staging" ]; then
              cd ${{ secrets.STAGING_PATH }}
              git pull
              npm install --production
              pm2 restart myskin-staging
            fi

            if [ "${{ github.ref }}" == "refs/heads/main" ]; then
              cd ${{ secrets.PROD_PATH }}
              git pull
              npm install --production
              pm2 restart myskin-production
            fi
